@import '../../assets/sass/breakpoint.scss';

.project {

  @include breakpoint('wide') {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 58% 42%);
    grid-gap: 1em;
    padding: 2.7em 1em 2em 2em;

    @media (max-height:856px) {
      height: auto;
    }
  }

  @include breakpoint('normal') {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 58% 42%);
    grid-gap: 1em;
    padding: 2.7em 1em 2em 2em;

    @media (max-height:856px) {
      height: auto;
    }
  }

  @include breakpoint('narrow') {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 4em 1em 3em 2em;
  }

  @include breakpoint('<=narrower') {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 3em 1em 4em 2em;
  }

  @include breakpoint('<=mobile') {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 3em 1em 4em 2em;

  }

  &-contentext {
    color: black;
    text-align: justify;

    @include breakpoint('wide') {
      padding: 84px 68px 0 1px;
    }

    @include breakpoint('normal') {
      padding: 84px 68px 0 1px;
    }

    @include breakpoint('narrow') {
      padding: 84px 68px 0 1px;
    }

    @include breakpoint('<=narrower') {
      padding: 84px 21px 0 1px;
    }

    @include breakpoint('<=mobile') {
      padding: 84px 21px 0 1px;
    }
  }
  
  .title {
    outline: none !important;
    outline-width: 0 !important;

    @include breakpoint('wide') {
      margin-bottom: 0;
      
      &:hover > .volver  {
        animation: mover 1s;
        animation-iteration-count: inherit !important;
        animation-fill-mode: forwards;
        transition: all 0.5s;
      }
    }

    @include breakpoint('normal') {
      margin-bottom: 0;

      &:hover > .volver  {
        animation: mover 1s;
        animation-iteration-count: inherit !important;
        animation-fill-mode: forwards;
        transition: all 0.5s;
      }
    }

    @include breakpoint('narrow') {
      margin-bottom: 0;

      &:hover > .volver  {
        animation: mover 1s;
        animation-iteration-count: inherit !important;
        animation-fill-mode: forwards;
        transition: all 0.5s;
      }
    }

    @include breakpoint('<=narrower') {
      margin-bottom: 27px;

      &:hover > .volver  {
        animation:none;
        animation-iteration-count: none;
        animation-fill-mode: none;
        transition: none;
      }
    }

    @include breakpoint('<=mobile') {
      margin-bottom: 40px;

      &:hover > .volver  {
        animation:none;
        animation-iteration-count: none;
        animation-fill-mode: none;
        transition: none;
      }

      @media (max-height:400px) {
        margin-bottom: 90px;
      }
    }
  }

  h1  {
    text-align: initial;
    letter-spacing: 2px;
    font-size: 27px;
    cursor: pointer;

    @include breakpoint('wide') {
      font-size: 26px;
      margin: 0em 0 1.7em 60px;
    }

    @include breakpoint('normal') {
      font-size: 26px;
      margin: 0em 0 1.7em 60px;
    }

    @include breakpoint('narrow') {
      font-size: 26px;
      margin: 0em 0 1.7em 60px;
    }

    @include breakpoint('<=narrower') {
      font-size: 26px;
      margin: 0em 0 .8em 33px;
    }

    @include breakpoint('<=mobile') {
      font-size: 26px;
      margin: 0em 0 -2em 33px;
    }
  }

  h2 {
    margin: 1.5em 0 0.5em 0;
  }

  p {
   margin: 0px 0;
   line-height: 20px;
   font-size: 16px;
  }

  ul {
    margin: 0em;
    
    li {
      padding:0px 0 ;
      align-items: center;
      font: -moz-workspace;
      font-size: 19px;

    }
  }
  @-moz-document url-prefix() {
    ul li p{
      margin: 12px 0;
    }
  }
}


  .volver {
    float: left;
    cursor: pointer;
    color: rgb(32, 32, 32);
    font-size: 35px;

    @include breakpoint('wide') {
      animation: movereverse 1s;
      transition: all 0.5s;
      animation-fill-mode:both;
      width: 46px;
    }

    @include breakpoint('normal') {
      animation: movereverse 1s;
      transition: all 0.5s;
      animation-fill-mode:both;
      width: 46px;
    }

    @include breakpoint('narrow') {
      animation: movereverse 1s;
      transition: all 0.5s;
      animation-fill-mode:both;
      width: 46px;
    }

    @include breakpoint('<=narrower') {
      animation:none;
      transition: none;
      animation-fill-mode:none;
      width: 0;
    }

    @include breakpoint('<=mobile') {
      animation:none;
      transition: none;
      animation-fill-mode:none;
      width: 0;
    }
    
    &:hover {
      animation: mover 1s;
      animation-iteration-count: inherit !important;
      animation-fill-mode: forwards;
      transition: all 0.5s;
    }

    @keyframes mover {
      0% {
        transform: translateX(12px);
      }
      100% {
        transform: translateX(-1px);
      }
    }
    
    @keyframes movereverse {
      0% {
        transform: translateX(-1px);
      }
      100% {
        transform: translateX(12px);
      }
    }
  }


