@import '../../assets/sass/breakpoint.scss';
@import '../../assets/sass/colors.scss'; 

.blogsection {
  margin: 0;
  height: 525px !important;
  overflow: hidden;
  background-color:$mustard-color;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding:5em 4em;

  @include breakpoint('wide') {
    padding:5em 4em;

    p {
      font-size: 19px;
      line-height: 1;
      margin: -5px;
    }
  }

  @include breakpoint('normal') {
    padding:5em 4em;

    p {
      font-size: 19px;
      line-height: 1;
      margin: -5px;
    }
  }

  @include breakpoint('narrow') {
    padding:5em 4em;

    p {
      font-size: 19px;
      line-height: 1;
      margin: -5px;
    }
  }

  @include breakpoint('<=narrower') {
    padding:5em 2em;

    p {
      font-size: 18px;
      line-height: 1.3;
      margin: -2px;
    }
  }

  @include breakpoint('<=mobile') {
    padding:5em 2em;

    p {
      font-size: 18px;
      line-height: 1.3;
      margin: -2px;
    }
  }


  p {
    color: white;
    text-align: center;
  }

  .content-text {
    margin-bottom: 2em;
  }
}

.sectioncontainer {

  &-h1{
    margin-bottom: 0;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &-hr{
    margin: 20px auto 38px auto;
    border: 1px solid white;
    width: 60px;
  }
}
