@import '../../assets/sass/breakpoint.scss';
@import '../../assets/sass/colors.scss'; 


.container-contact {
  display: flex;
  justify-content: center;
  background-color: $cream-color;
  
  @include breakpoint('wide') {
    padding: 3em;
    height: 100vh;

    @media (max-height:856px) {
      height: auto;
    }
  }

  @include breakpoint('normal') {
    padding: 3em;
    height: 100vh;

    @media (max-height:856px) {
      height: auto;
    }
  }

  @include breakpoint('narrow') {
    padding: 3em;
    height: 100vh;
    
    @media (max-height:856px) {
      height: auto;
    }

    @media (max-width:1470px)  {
      height: auto;
    }
  }

  @include breakpoint('<=narrower') {
    padding: 4em 2em 4em 2em;
    height: auto;
  }

  @include breakpoint('<=mobile') {
    padding: 4em 1em 4em 1em;
    height: auto;
  }
}

.infocontent {
  max-width: 100%;
  width: 477px;
  height: 80%;
  background-color: white;
  display: flex;
  letter-spacing: 0.2px;
  flex-direction: column;
  box-shadow: 0 0 20px 0px #00000029;

  @include breakpoint('wide') {
    width: 477px;
    margin: 81px auto 5px auto;
    padding: 1em 2em;

    &-h1 {
      font-size: 33px;
      margin: 2.4em 0 1em 0;
    }

    h3 {  
      font-size: 19px;
    }

    p {
      font-size: 19px;
    }
  }

  @include breakpoint('normal') {
    width: 477px;
    margin: 81px auto 5px auto;
    padding: 1em 2em;

    &-h1 {
      font-size: 33px;
      margin: 2.4em 0 1em 0;
    }

    h3 {
      font-size: 19px;
    }

    p {
      font-size: 19px;
    }
  }

  @include breakpoint('narrow') {
    width: 635px;
    padding: 5em 4em;
    margin: 80px auto 5px auto;

    &-h1 {
      font-size: 33px;
      margin:0em 0 1em 0;
    }

    h3 {
      font-size: 19px;
    }

    p {
      font-size: 19px;
    }
  }

  @include breakpoint('<=narrower') {
    width: 635px;
    margin: 0 auto 5px auto;
    padding: 3em 2em;

    &-h1 {
      font-size: 32px;
      margin: 0 0 1em 0;
    }

    h3 {
      font-size: 18px;
    }

    p {
      font-size: 18px;
    }
  }

  @include breakpoint('<=mobile') {
    width: 635px;
    margin: 0 auto 5px auto;
    padding: 3em 2em;

    &-h1 {
      font-size: 31px;
      margin: 0 0 1em 0;
    }

    h3 {
      font-size: 17px;
    }

    p {
      font-size: 17px;
    }
  }

  &-h1 {
    color: #1e1e1e;
    text-transform: uppercase;
    letter-spacing: 3px;

  }

  h3 {
    margin: 0px -6px 16px;
    color: #000;
    line-height: 1.4em;
    font-weight: 600;
    letter-spacing: 0.4px;
  }

  p {
    margin: 0px 0 13px 0;
    font-weight: 100;
    color: #232323;
    line-height: 34px;
  }

  hr {
    margin: 25px auto 24px auto;
    border: 1px solid rgb(0, 0, 0);
    width: 20%;
  }
}

.icons {
  display: flex;
  justify-content: center;

  a:hover {
    color:black;
    cursor: pointer;
  }

  &-icon {
    width: 29px;
    margin: 16px;
    font-size: 26px;
  }
}