


.container-contact {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding: 3em;
}

.infocontent {
    margin: 81px auto 5px auto;
    max-width: 100%;
    width: 477px;
    display: flex;
    letter-spacing: 0.2px;
    flex-direction: column;

  &-h1 {
    margin: 0 21px 0.6em -8px;
    color: #1e1e1e;
    font-weight: normal;
    font-size: 33px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 3px;

  }
  
  &-h2 {
    text-align: left;
    margin: 13px -7px 22px;
    color: #000;
    font-weight: normal;
    font-size: 19px;
    letter-spacing: 0.2px;
    line-height: 1em;
  }

  &-h3 {
    text-align: left;
    margin: -8px -7px 22px;
    color: #000;
    font-weight: normal;
    font-size: 19px;
    line-height: 1.4em;
    letter-spacing: 0.4px;
  }

  p {
    text-align: left;
    margin: -6px;
    font-weight: 100;
    font-size: 19px;
    color: #232323;
    line-height: 34px;
  }
}

.formcontent {
    display: flex;
    flex-direction: column;
    margin: 80px 0 0 0;

    &-h1 {
      margin: 0 21px 0em -1px;
      color: #1e1e1e;
      font-weight: normal;
      font-size: 33px;
      font-family: 'Montserrat', sans-serif;
      text-align: left;
      text-transform: uppercase;
      letter-spacing: 3px;

    }
  }

  .form-input {
    display: flex;
    flex-direction: column;
    margin: 34px 0 0 0;
    width: 78%;

  }

  .divform {
    width: 100%;
    padding: 0 0 22px 0;
    

    &-persondata {
      width: 100%;
      padding: 0 0 22px 0;
      border: 1px solid rgb(219, 219, 219);
      box-shadow: white 0px 0px;
      line-height: 1.4em;
      transition: all 0.3s ease-in-out;
      font-size: 15px;
    }

    &-message {
      border: 1px solid rgb(219, 219, 219);
      box-shadow: white 0px 0px;
      transition: all 0.1s cubic-bezier(0.13, 0.12, 0.9, 0.88) 0s;
      margin: 0px;
      height: 187px;
      font-size: 15px;
      max-width: 100%;
      min-width: 100%;
      transition: all 0.3s ease-in-out;
    }
  }