@import 'libs/breakpoints';

@include breakpoints((
  wide:      ( 961px,  2000px ),
  normal:    ( 961px,  1620px ),
  narrow:    ( 961px,  1320px ),
  narrower:  ( 737px,  960px  ),
  mobile:    ( null,   736px  ),
));